
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container px-4 px-lg-5 mt-3">
            <div class="d-md-flex justify-content-md-end ms-auto">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#expand">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="expand">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link">Home</a>
                        <a href="#" class="nav-item nav-link">About</a>
                        <a href="#" class="nav-item nav-link">Contact</a>
                    </div>
                    <form class="d-flex d-md-flex justify-content-md-end">
                        <button class="btn btn float-right">
                            <a class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"
                             href="#" target="_blank" >
                            </a>
                        </button>
                    </form>
                    <form class="d-flex">
                        <button class="btn btn float-right">
                            <a class="fa-regular fa-envelope fa-2xl" style="color: #ffffff;"
                               href="#" target="_blank" >
                            </a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>